# Ignore everything by default
*

# File associations
!.vscode/
!.vscode/**

# AWOW Folders
!A World of Women CORE/
!A World of Women CORE/**
!AWOW Vanilla Male Source OVERRIDES/
!AWOW Vanilla Male Source OVERRIDES/**
!AWOW Vanilla History OVERRIDES/
!AWOW Vanilla History OVERRIDES/**

!script_docs 1.19.0.6/
!script_docs 1.19.0.6/**
!logs/
!logs/**

# .mod files
!**.mod

# Unignore this file itself
!.gitignore
