# Ignore everything by default
*

# Unignore specific directories and their contents
!.vscode/
!.vscode/**

!A World of Women/
!A World of Women/**

!script docs/
!script docs/**
!logs/
!logs/**

# Unignore the mod file
!A World of Women.mod

# Unignore this file itself
!.gitignore
